{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2023,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "@nuxt/eslint-config",
    "plugin:nuxt/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/no-unnecessary-type-assertion": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "no-case-declarations": "off",
    "prettier/prettier": "error",
    "@typescript-eslint/explicit-function-return-type": "off",
    "vue/html-self-closing": [
      "error",
      {
        "html": {
          "void": "any",
          "normal": "always",
          "component": "always"
        },
        "svg": "always",
        "math": "always"
      }
    ]
  }
}
