backend:
  name: github
  repo: PNPC-CaPeL/capel-proto-contents
  branch: main

media_folder: "media"

slug:
  encoding: "ascii"
  clean_accents: true
  sanitize_replacement: "-"

locale: "fr"

show_preview_links: false

editor:
  preview: false

collections:
  - name: "info"
    label: "Informations"
    label_singular: "information"
    folder: "informations"
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    summary: "{{title}}"
    create: true
    fields:
      - { name: "draft", label: "Brouillon", widget: "boolean", default: true, required: false }
      - { name: "title", label: "Titre", widget: "string" }
      - { name: "body", label: "Information", widget: "markdown", minimal: true }
      - name: "spots"
        label: "Spots concernés"
        widget: "relation"
        collection: "spot"
        value_field: "title"
        search_fields: ["title"]
        display_fields: ["title"]
        multiple: true
        required: false
      - { name: "zone", label: "Zone concernée", widget: "map", type: "Polygon", required: false }

  - name: "spot"
    label: "Spots"
    label_singular: "spot"
    folder: "spots"
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    summary: "{{title}}"
    create: true
    fields:
      - { name: "draft", label: "Brouillon", widget: "boolean", default: true, required: false }
      - { name: "title", label: "Nom du spot", widget: "string" }
      - { name: "ref", label: "Référence", widget: "string", required: false }
      - { name: "location", label: "Emplacement", widget: "map" }
      - name: "types"
        label: "Types de plongées"
        widget: "relation"
        required: false
        multiple: true
        collection: "divings"
        value_field: "title"
        search_fields: ["title"]
      - name: "structures"
        label: "Structures"
        widget: "relation"
        required: false
        multiple: true
        collection: "structures"
        value_field: "title"
        search_fields: ["title"]
        display_fields: ["title"]
      - { name: "body", label: "Description", widget: "markdown", minimal: true, required: false }

  - name: "structures"
    label: "Structures"
    label_singular: "structure"
    folder: "structures"
    create: true
    fields:
      - { name: "draft", label: "Brouillon", widget: "boolean", default: true, required: false }
      - { name: "title", label: "Nom de la structure", widget: "string" }
      - { name: "url", label: "Site internet", widget: "string", required: false }
      - { name: "location", label: "Emplacement", widget: "map" }
      - { name: "body", label: "Description", widget: "markdown", minimal: true, required: false }

  - name: "divings"
    label: "Plongée : les types"
    label_singular: "type de plongée"
    folder: "divings"
    summary: "{{title}}"
    create: true
    fields:
      - { name: "title", label: "Titre", widget: "string" }
      - { name: "body", label: "Description", widget: "markdown", minimal: true, required: false }

  - name: "skills"
    label: "Plongée : les niveaux"
    label_singular: "niveau de plongée"
    folder: "skills"
    summary: "{{title}}"
    create: true
    fields:
      - { name: "title", label: "Niveau", widget: "string" }
      - { name: "body", label: "Prérogatives", widget: "markdown", minimal: true }
      - { name: "cds", label: "Aptitude / Code du Sport", widget: "string", required: false }
      - { name: "cmas", label: "CMAS", widget: "string", required: false }

  - name: "cadres"
    label: "Plongée : les cadres"
    label_singular: "cadre de pongée"
    folder: "cadres"
    summary: "{{title}}"
    create: true
    fields:
      - { name: "title", label: "Titre", widget: "string" }
      - { name: "body", label: "Description", widget: "markdown", minimal: true, required: false }

  - name: "texts"
    label: "Textes"
    files:
      - name: "regulation"
        label: "Règlement"
        file: "texts/regulation.md"
        fields:
          - { name: "body", label: "contenu", widget: "markdown" }

      - name: "authorization"
        label: "Autorisation"
        file: "texts/authorization.md"
        fields:
          - { name: "body", label: "contenu", widget: "markdown" }

      - name: "homepage1"
        label: "Page d'accueil - bloc 1"
        file: "texts/homepage1.md"
        fields:
          - { name: "title", label: "Titre", widget: "string", required: false }
          - { name: "body", label: "Description", widget: "markdown", minimal: true, required: true }
      - name: "homepage2"
        label: "Page d'accueil - bloc 2"
        file: "texts/homepage2.md"
        fields:
          - { name: "title", label: "Titre", widget: "string", required: false }
          - { name: "body", label: "Description", widget: "markdown", minimal: true, required: true }
      - name: "homepage3"
        label: "Page d'accueil - bloc 3"
        file: "texts/homepage3.md"
        fields:
          - { name: "title", label: "Titre", widget: "string", required: false }
          - { name: "body", label: "Description", widget: "markdown", minimal: true, required: true }

  - name: "lists"
    label: "Ordre / tri"
    files:
      - name: "divings"
        label: "Ordre des types de plongée"
        file: "lists/divings.json"
        fields:
          - name: divings
            label: "Types de plongées"
            label_singular: "Type de plongée"
            widget: "list"
            fields:
              - name: "diving"
                label: "Type de plongée"
                widget: "relation"
                required: true
                multiple: false
                collection: "divings"
                value_field: "title"
                search_fields: ["title"]
                display_fields: ["title"]
      - name: "skills"
        label: "Ordre des niveaux de plongée"
        file: "lists/skills.json"
        fields:
          - name: skills
            label: "Niveaux de plongée"
            label_singular: "Niveau de plongée"
            widget: "list"
            fields:
              - name: "skill"
                label: "Niveau de plongée"
                widget: "relation"
                required: true
                multiple: false
                collection: "skills"
                value_field: "title"
                search_fields: ["title"]
                display_fields: ["title"]
      - name: "cadres"
        label: "Ordre des cadres"
        file: "lists/cadres.json"
        fields:
          - name: cadres
            label: "Cadres de plongée"
            label_singular: "Cadre de plongée"
            widget: "list"
            fields:
              - name: "cadre"
                label: "Cadre de plongée"
                widget: "relation"
                required: true
                multiple: false
                collection: "cadres"
                value_field: "title"
                search_fields: ["title"]
                display_fields: ["title"]
